.buttonMain {
    @include flex(row, center, center, wrap);

    backdrop-filter: blur(10px);
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    height: 60px;
    min-width: 200px;
    padding: 0 40px;
    transition: all 0.3s;

    &:hover {
        color: var(--mainColor);
        background-color: transparent;
        box-shadow: 0 10px 30px -10px var(--mainColor);
        transform: translate(0, -4px);
    }

    &:active {
        color: #fff;
        background-color: var(--mainColor);
        box-shadow: 0 4px 20px -4px var(--mainColor);
        transform: translate(0, -2px);
        transition: all 0.1s;
    }

    &:focus {
        color: #fff;
        border-color: var(--mainColor);
    }

    @media screen and (max-width: 1440px) {
        height: 50px;
    }
}

.buttonSecondary {
    @include flex(row, center, center, wrap);

    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 2px solid var(--mainColor);
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    height: 60px;
    min-width: 200px;
    padding: 0 40px;
    transition: all 0.3s;

    &:hover {
        background-color: var(--mainColor);
        box-shadow: 0 10px 30px -10px var(--mainColor);
        transform: translate(0, -4px);
    }

    &:active {
        background-color: transparent;
        box-shadow: 0 4px 20px -4px var(--mainColor);
        transform: translate(0, -2px);
        transition: all 0.1s;
    }

    &:focus {
        border-color: var(--mainColor);
    }

    @media screen and (max-width: 1440px) {
        height: 50px;
    }
}